// ## Colors
// ### Primary
$color-lime: hsl(61, 70%, 52%);
$color-red: hsl(4, 69%, 50%);
// ### Neutral
$color-white: hsl(0, 0%, 100%);
$color-slate-100: hsl(202, 86%, 94%);
$color-slate-300: hsl(203, 41%, 72%);
$color-slate-500: hsl(200, 26%, 54%);
$color-slate-700: hsl(200, 24%, 40%);
$color-slate-900: hsl(202, 55%, 16%);


// defaults
$ff-default: 'Plus Jakarta Sans Variable', sans-serif;
$fw-default: 500;
$fw-bold: 700;
$fs-default: 16px;

// breakpoints
$mobile: 576px;